<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Szafiarka.Properties.Settings.D__ONEDRIVE_STUDIA_INŻYNIERIA_OPROGRAMOWANIA_PROJEKT_SZAFIARKA_SZAFIARKA_DATABASE_MDFConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;D:\ONEDRIVE\STUDIA\INŻYNIERIA OPROGRAMOWANIA\PROJEKT\SZAFIARKA\SZAFIARKA\DATABASE.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>